.App {
  text-align: center;
  background-clip: "/home/zwnick68/Development/code/projects/ruby_on_sinatra/react/react-mma/public/arlovskiKO.mp4" ;
}
.background-video{
  width: 100vw;
  height:100vh;
  object-fit: cover;
  position: fixed;
  left:0;
  right: 0;
  top: 0;
  bottom:0;
  z-index: -1;
}

h1 {
  font-style: oblique;
  color: antiquewhite;
}

h3 {
  color:antiquewhite;
  font-style: oblique;
}

.images {
  width:200px;
   height:300px;
}
.promotion-images {
  width:400px;
  height:400px;
}

.manager-images {
  width:200px;
  height:300px;
}